
@{
	ViewData["Title"] = "Admin Panel";
	Layout = "AdminLayout";
}


<h2>Admin Panel</h2>

<div class="row text-center mb-4">
	<div class="col">
		<div class="card shadow-sm">
			<div class="card-body">
				<h5 class="card-title">All Requests Today </h5>
				<p class="card-text fs-4">14</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow-sm">
			<div class="card-body">
				<h5 class="card-title">Accepted Today</h5>
				<p class="card-text fs-4"> 15 </p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card shadow-sm">
			<div class="card-body">
				<h5 class="card-title">Rejected Today </h5>
				<p class="card-text fs-4"> 13 </p>
			</div>
		</div>
	</div>
</div>
