
@{
	Layout = "EmployeeLayout";
}
<a asp-controller="Employee" asp-action="NewRequest" type="button" class="btn btn-primary mt-5">Add New Request</a>
<hr />


<h5>your requests :</h5>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date </th>
            <th scope="col">StardDate</th>
            <th scope="col">FinishDateDate</th>
            <th scope="col">Reasen</th>
            <th scope="col">Status</th>
            <th scope="col">Detail</th>

        </tr>
    </thead>
    <tbody>

        @*     @foreach (var users in Model)
        {
            <tr>
                <th scope="row">@users.UserId</th>
                <th scope="row">@users.UserName</th>
                <th scope="row">@users.Password</th>
            </tr>
        } *@


        <tr>
            <th scope="row">UserId</th>
            <th scope="row">UserName</th>
            <th scope="row">Password</th>
            <th scope="row">Password</th>
            <th scope="row">Password</th>
            <th scope="row">Password</th>
        </tr>  
        <tr>
            <th scope="row">UserId</th>
            <th scope="row">UserName</th>
            <th scope="row">Password</th>
            <th scope="row">Password</th>
            <th scope="row">Password</th>
            <th scope="row">Password</th>
        </tr>

    </tbody>
</table>